<p> Copr est un système de construction automatique facile à utiliser fournissant un référentiel de paquets comme sortie. </p>
<p> Commencez par créer votre propre référentiel en trois étapes : </p>
<ol>
  <li> Choisissez un système et une architecture pour lesquels vous souhaitez construire. </li>
  <li> fournir à Copr des paquets src.rpm </li>
  <li> laisser Copr faire tout le travail et attendre votre nouveau dépôt </li>
</ol>
<p style="margin-bottom:0px"><i><small>NOTE : Copr n’est pas encore officiellement supporté par Fedora Infrastructure.</small></i></p>
